@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.auth-box {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 10px;
}

.popup-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
}
.popup-box {
  background: white;
  padding: 20px;
  width: 250px;
  margin: 200px auto;
  position: relative;
}
.close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
